@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1556035666438'); /* IE9 */
  src: url('iconfont.eot?t=1556035666438#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABtQAAAJPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBTIFOATYCJAMICwYABCAFhG0HQhsGBsgekiRFKhFCQIDTBgAQwdN+v5+zu5hIJIpm0UQmUcKtJIhJvMO30LSEd/9Tdy1zPn/vYbNlFWNMlaTt/fQ3++fYy0gQBmVASBAO2cQv3z84ZrwCGkieL5wyikdNUdw6sE4cjWyzgb3xK6hXX0M6GI8JNBunKe3Pr+5CtwKrAnEtAx+6c05FUZFGob7mYBF36jSmm/QN3Ibfj/+c6Capy5BzdDVXh8nfNHmuapXLXHER6PE6ZKwChTirDR5oEwrbpjnYbhrsKzP4rVbz1WKvCqH+dUhvBaOUeU8sl32r6QkUOr4NXIyyUzrxu8ve12/o4/tc38fPifj8UctXU29bP54n744WFzuqusXFzbjWu4qmtO57mWAS/ixXeRJKCD7+8+kOrbcaWwr41dF2KC/6mUHjqU3BL2T1LCgmB5J0MUxmSrYzCRKaTYsaWLv9jZX23a8+NOZYCpIGY5A1mkUUzCrUabEG9RptQbMVC8db9FDaRGnCsmcCodMXJO0eIOv0gyiYX6jT7x/qdUYbNLuIngtbzIfs3VPkM9Wxeo6ylibC0XBvlLlNwXHkqywnxO2TKqQHbcMqRhYoITXHluIkcJgFCpXGOE+eoyhKMVNpk2psNJizimmKujcZtTSGXnsU4mOkDlWdQ1JNKiH87qy39PltJHAs4lMteQ3afUQpyMmRzWD1QCwIk1559/JK4UTAwZiABCUVQ/NkHolEUiirn9dEapihMcKfqTB1KdFXaKwvjr9uDzSDLIWelg1ek4yPM5mECkE+3UmoSnIAAAA=') format('woff2'),
  url('iconfont.woff?t=1556035666438') format('woff'),
  url('iconfont.ttf?t=1556035666438') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1556035666438#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

